body, h1, h2, h3, h4, h5, h6, p, dl, dd {
    margin: 0;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #b4a078;
}

input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 1px solid #ccc;
}

label {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0;
}

/* 通用样式 */
.center {
    width: 1090px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.scaleImg img {
    transition: 1s ease-out;
    transform: scale(1);
}

.scaleImg:hover img {
    transform: scale(1.1);
}

.original {
    background: #f4f4f4 url("../images/original.png") center no-repeat;
}

/* -----------头部----------- */
#head {
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 2px 2px #f3f3f3;
}

#head .head {
    background: #333;
    font-size: 12px;
    line-height: 36px;
}

#head .left {
    color: #ccc;
}

#head li {
    float: left;
    position: relative;
}

#head li a {
    color: #ccc;
    padding: 0 10px;
    border-left: 1px solid #5c5c4c;
}

#head li a:hover {
    color: #fff;
}

#head li a.noborder {
    border: none;
}

#head li a.margin {
    margin-right: 10px;
}

#head li.customer {
    padding-right: 10px;
    margin-right: 10px;
    background: url("../images/customer_bg1.gif") 68px center no-repeat;
}

#head li.customer:hover {
    background: url("../images/customer_bg2.gif") 68px center no-repeat;
}

#head li.customer:hover ul {
    display: block;
}

#head li.customer ul {
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: none;
}

#head li.customer ul::before, #head li.down div::before {
    width: 10px;
    height: 10px;
    content: "";
    display: block;
    background: url("../images/ico_02.png") no-repeat;
    position: absolute;
    margin: auto;
    top: -6px;
    left: 0;
    right: 0;
}

#head li.customer ul li {
    float: none;
}

#head li.customer ul a {
    display: block;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin: 0 10px;
    color: #999;
}

#head li.customer ul a:hover {
    color: #b4a078;
}

#head li.customer ul a.noborder {
    border: none;
}

#head li.customer li.phone {
    background: url("../images/phone_bg1.gif") 62px center no-repeat;
}

#head li.customer li.phone:hover {
    background: url("../images/phone_bg2.gif") 62px center no-repeat;
}

#head li.customer li.phone:hover div {
    display: block;
}

#head li.customer li.phone div {
    position: absolute;
    width: 110px;
    height: 57px;
    right: -110px;
    top: 0;
    line-height: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
    display: none;
}

#head li.customer li.phone div p:first-child {
    font-size: 14px;
    color: #999;
    margin-top: 12px;
}

#head li.customer li.phone div p:nth-child(2) {
    color: #ccc;
}

#head li.down a {
    padding-left: 25px;
    background: url("../images/ico_01.png") 10px center no-repeat;
}

#head li.down div {
    position: absolute;
    left: -46px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    line-height: 20px;
    color: #b4a078;
    background: #fff;
    top: 30px;
    display: none;
}

#head li.down:hover div {
    display: block;
}
